#email,
#allergies_other_input,
#phone {
  width:100%
}

/* Otherwise no margin between this and the customer input on admin page */
#rx_source_field {
  float:left;
}

/* This is for the iframe with the google doc invoice*/
.order_data_column  { width:100% !important }

li[id$="wc-pending"],
li[id$="wc-processing"],
li[id$="wc-on-hold"],
li[id$="wc-completed"],
li[id$="wc-cancelled"],
li[id$="wc-refunded"],
li[id$="wc-failed"] {
  display:none;
}
