.site-header .custom-logo-link img {
  width:auto !important;
}
.site-header {
  background-color:transparent !important;
  padding-top:1em !important;
  margin-bottom:0 !important
}
.site-branding {
  width:100% !important
}
.site-title a {
  font-size:20px
}
.site-search, .site-header-cart, .site-info {
  display:none !important
}
.main-navigation {
  width: 100% !important;
  text-align: right;
  margin-top: -85px;
}
.woocommerce-breadcrumb {
  text-align: right;
  margin-top:-10px !important;
  margin-bottom:-35px !important
}
.storefront-breadcrumb {
  margin-bottom:-20px !important
}
.entry-header {
  padding-bottom:0 !important
}
.woocommerce-error {
  margin-top:0 !important;
  margin-bottom:10px !important
}
.woocommerce-error a { /*text-decoration underline did not have enough space between text and underline */
  border-bottom: solid 1px #fff;
  display: inline;
}
/*remove border from mobile menu */
button.menu-toggle {
  border:none !important
}
.optional,
.entry-title,
.storefront-handheld-footer-bar,
.woocommerce-order, /* duplicated when showing order success */
.woocommerce-order-overview
{
  display:none
}
#customer_login > div {
  width:100% !important
}
#customer_login .col-2 {
  display:none
}
.radio {
  display:inline-block !important
}
.input-radio {
  display:inline-block !important;
  transform: scale(2);
  /*opacity: .6;*/
  margin-right:6px;
}
label.radio {
  margin-left:6px !important;
  margin-right:24px !important;
}
.input-checkbox {
    transform: scale(2);
    /*opacity: .6;*/
    margin-right:12px;
    margin-left:6px;
}
/* Condense allergy checkboxes */
.allergies {
   margin-top:-15px;
}

/* Hide number of items in an order since these are just placeholder items*/
.woocommerce-orders-table__cell-order-total {
   color:#fdfdfd;
}
.woocommerce-Price-amount {
   color:#6d6d6d;
}

.woocommerce-orders-table__cell-order-status, /* Hide irrelevant columns on orders page*/
form.checkout, /* Don't show checkout on every page */
.woocommerce-form-coupon-toggle, /* hide coupon link on non-checkout page. */
.woocommerce-message a, /* don't show links in messages since often wrong link */
.woocommerce-checkout-review-order-table /*hide all items and costs since we are not charging anything */
{
  display:none;
}

.pat_autofill {/* On Account Details Page */
  font-weight:600;
}
.pat_autofill input {/* On Account Details Page */
  display:inline-block;
}

label[for=account_display_name], /* On Account Details Page */
#account_display_name,
#account_display_name + span,
.woocommerce-SavedPaymentMethods-saveNew /* Hide Stripe save card option */
{
  display:none !important;
}
.woocommerce-PaymentBox {
  background-color: #fafafa !important;
}
.woocommerce-PaymentMethod > label {
  display: inline-block;
  padding: 1.4em 0em;
  width: 90%;
}
#ui-datepicker-div {
  z-index:999 !important;
}

.hidden {
  display:none !important
}
/*Order-Pay Page*/
form#order_review {
  display:inline-block;
}
form#order_review tr  {
  display:none;
}
form#order_review tfoot tr:last-child  {
  display:table;
}
@media screen and ( min-width: 768px ) {
  form#order_review  {
    width:69% !important
  }
}
form#order_review {
  margin-top:-30px;
  width:100%; /* only active on small screens, otherwise media filter*/
}
form#order_review .payment_method_cheque { /* if you want to pay for order online it has to be by credit card */
  display:none;
}
form#order_review .english, form#order_review .spanish { /* get rid of typical order instructions if paying for a previous order */
  display:none;
}

/* Add-Payment Page */
form#add_payment_method .input-radio {
  display:none !important;
}

/*Printing Invoices*/
@media print
{
    .woocommerce-MyAccount-navigation-link, .main-navigation
    {
        display: none !important;
    }
}
