<p>This is a reminder to register with Goodpill</p>
<p>
    Please take 5 minutes to register so that we can fill the Rxs we got from your doctor as soon as possible. <br>
    Once you register it will take 5-7 business days before you receive your order. <br>
    You can register online at www.goodpill.org or by calling us at (888) 987-5187.
</p>
<p>The drug waiting to be filled is</p>
<ul>
    <li>{{order_item}}</li>
</ul>

