/* Current tc plugin shows saved cards on every page.  Hide by default */
#tc-saved-cards\20  {
  display:none;
  margin-top:100px !important
}
.woocommerce-order, /* duplicated when showing order success */
.woocommerce-order-overview,
#tc-saved-cards\20 + table /*See above */
{
  display:none
}
p > #account_first_name,
p > #account_last_name,
p > #account_email,
[for=account_first_name],
[for=account_last_name],
[for=account_email] {
  display:none /*this also prevents form submission */
}
