#top .select2-results {
  color: inherit !important
}
.select2-search--inline, .select2-search__field {
  background-color:transparent !important;
  border-color:transparent !important;
  box-shadow:none !important;
}
.select2-container--default {
  width:100% !important
}
.select2-selection--single {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
}
.select2-selection--multiple {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
  height:100px !important
}
.select2-container--default .select2-results__option--highlighted {
  background:#11abd6 !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background:#11abd6 !important;
  color:#fff !important;
  padding:5px !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color:#fff !important
}
/*this is for uneven saved card buttons in trust commerce gateway */
#top form {
  margin-bottom:0
}
/*We want full page account page */
.woocommerce-MyAccount-content, .col-1, .col-2 {
    width:100% !important;
}
/*condenxe allergy checkboxes*/
[id^=allergies\[] {
  margin-bottom:-5px !important
}
/*don't condense the last (text) one */
[id^=allergies\[other] {
  margin:5px 0 !important;
}
@media (min-width: 767px) {
  .woocommerce-MyAccount-navigation {
     position:fixed
  }
  .questions {
    position:fixed;
    margin-top:230px;
    width:200px;
  }
  .woocommerce-MyAccount-content, .new-patient, form.checkout {
    width:calc(100% - 240px) !important;
    float:right
  }
}

/* Avoid resizing when checkout loads*/
main {
  min-height:400px !important;
}
/* Avoid resizing when checkout loads*/
.payment_methods li {
  border:none !important
}
/* Current tc plugin shows saved cards on every page.  Hide by default */
#tc-saved-cards\20  {
  display:none;
  margin-top:100px !important
}
/* In order details don't show "for X items" */
 .woocommerce-orders-table__cell-order-total {
   color:transparent
 }
/* In order details do show total $ */
 .woocommerce-orders-table__cell-order-total span {
   color:#666
 }
/* In order details don't show subtotal and shipping rows */
 .woocommerce-table--order-details tfoot tr:nth-child(1), .woocommerce-table--order-details tfoot tr:nth-child(2) {
   display:none
 }
#medication_field, /* don't force medication on eRx (default) */
.spanish,  /* translation */
.create-account, /* Force user to save card */
#tc-saved-cards\20 + table, /*See above */
form.checkout, /* Don't show checkout on every page */
.woocommerce-MyAccount-navigation-link--downloads, /* No Downloads */
.woocommerce-shipping-fields,  /* checkbox to add shipping fields */
.woocommerce-additional-fields, /*hide note text area */
.cart-subtotal, /*Hide subtotal row on checkout */
.shipping, /* Hide shipping cost row on checkout */
.product-name, /*Hide product name row on checkout */
.product-total { /*Hide product total row on checkout */
    display:none
}
.order-total th, .order-total td { border:none !important }
.woocommerce-checkout-payment {
   margin-top:-15px !important /*reduce space between total price and payment form */
}
.fullsize .addresses.col2-set .col-1, .fullsize .addresses.col2-set .col-2 {
  margin-bottom:10px /*space between the billing and shipping addresses on addresses page */
}
