#top .select2-results {
  color: inherit !important
}
.select2-search--inline, .select2-search__field {
  background-color:transparent !important;
  border-color:transparent !important;
}
.select2-container--default {
  width:100% !important
}
.select2-selection--single {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
}
.select2-selection--multiple {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
  height:100px !important
}
.select2-container--default .select2-results__option--highlighted {
  background:#11abd6 !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background:#11abd6 !important;
  color:#fff !important;
  padding:5px !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color:#fff !important
}
/*this is for uneven saved card buttons in trust commerce gateway */
#top form {
  margin-bottom:0
}
.woocommerce-MyAccount-content, .new-patient, .col-1, .col-2 {
    width:100% !important;
}

@media (min-width: 767px) {
  .woocommerce-MyAccount-navigation {
     position:fixed
  }
  .questions {
    position:fixed;
    margin-top:230px;
    width:200px;
  }
  .woocommerce-MyAccount-content, .new-patient, form.checkout {
    width:calc(100% - 240px) !important;
    float:right
  }
}

main {
  min-height:400px !important;
}
h3 {
   text-transform:capitalize;
}
.woocommerce-billing-fields h3:before {
   content:'Shipping & '
}
#tc-saved-cards\20  {
  display:none;
  margin-top:100px !important
}
 .woocommerce-orders-table__cell-order-total {
   color:transparent
 }

 .woocommerce-orders-table__cell-order-total span {
   color:#666
 }
 .woocommerce-table--order-details tfoot tr:nth-child(1), .woocommerce-table--order-details tfoot tr:nth-child(2) {
   display:none
 }
.create-account,
#tc-saved-cards\20 + table,
label#eRX,
.woocommerce-order,
form.checkout,
.new-patient,
.woocommerce-MyAccount-navigation-link--downloads,
#billing_company_field,
#billing_country_field,
.cart-subtotal,
.product-name,
.product-total,
.shipping,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
    display:none
}
.order-total th, .order-total td { border:none !important }
.woocommerce-checkout-payment {
   margin-top:-15px !important
}
.fullsize .addresses.col2-set .col-1, .fullsize .addresses.col2-set .col-2 {
  margin-bottom:10px
}
