/*Make sure they are visible */
form.checkout, div.woocommerce-form-coupon-toggle, form.checkout_coupon  {
  display:inline-block;
}
/*Hide billing/shipping fields until our custom additional fields are prepended with JS */
.woocommerce-billing-fields:first-child {
  display:none;
}
/*Default is set for 2 columns */
@media screen and ( min-width: 768px ) {
  form.checkout, div.woocommerce-form-coupon-toggle, form.checkout_coupon {
    width:69% !important
  }

}
.col2-set, #order_review, .reset-to-full-width {
  width:100% !important
}
form.checkout, #order_review_heading {
  margin-top:-30px;
  width:100%; /* only active on small screens, otherwise media filter*/
}
