#medication\[\]_field, /* don't force medication on eRx (default) */
.pharmacy, /*pharmacy transfer off until selected */
.erx, /*erx transfer off until selected */
.create-account /* Hide trust commerce save card option */
{
  display:none
}
/*Default is set for 2 columns */
.woocommerce-info, form.checkout_coupon, form.checkout  {
  display:block;
  float:right;
  width:69% !important
}
.col2-set, #order_review {
  width:100% !important
}
.woocommerce > .woocommerce-message {
  display:none
}
.woocommerce-info {
  margin-top:-290px
}
form.checkout_coupon {
  margin-top:-210px;
  margin-bottom:210px
}
form.checkout {
  margin-top:-210px
}
#order_review_heading {
  margin-top:-30px
}

/*
#billing_country_field,
#shipping_country_field,
#billing_email_field,
#shipping_email_field,
#shipping_state_field
*/
