form.checkout, /* Don't show checkout on every page */
#medication\[\]_field, /* don't force medication on eRx (default) */
.woocommerce-message a, /* don't show links in messages since often wrong link */
.pharmacy, /*pharmacy transfer off until selected */
.erx, /*erx transfer off until selected */
.spanish, /* translation */
.cart-subtotal, /*Hide subtotal row on checkout */
.shipping, /* Hide shipping cost row on checkout */
.product-name, /*Hide product name row on checkout */
.product-total,  /*Hide product total row on checkout */
.create-account /* Hide trust commerce save card option */
{
  display:none
}
/*Default is set for 2 columns */
.woocommerce-info, .woocommerce-message, form.checkout_coupon, form.checkout  {
  float:right;
  width:69% !important
}
.col2-set {
  width:100% !important
}
.woocommerce-message {
  display:none
}
.woocommerce-info {
  margin-top:-220px;
}
form.checkout {
  margin-top:-160px;
}
#order_review_heading {
  margin-top:-30px
}
/* Condense allergy checkboxes */
.allergies {
   margin-top:-25px;
}
select, .select2-selection {
  height:45px !important
}
.select2-selection--single .select2-selection__rendered {
  line-height:45px !important
}
.radio {
  display:inline-block !important
}
.input-radio {
  display:inline-block !important;
  margin-left:10px;
  margin-right:4px
}
/*
#billing_country_field,
#shipping_country_field,
#billing_email_field,
#shipping_email_field,
#shipping_state_field
*/
