.site-header {
  background-color:transparent !important;
  padding-top:1em !important;
}
.site-branding {
  width:100% !important
}
.site-title a {
  font-size:20px
}
.site-search, .site-header-cart, .site-info {
  display:none !important
}
.main-navigation {
  width: 100% !important;
  text-align: right;
  margin-top: -50px;
}
.woocommerce-breadcrumb {
  text-align: right;
  margin-top:-10px !important;
  margin-bottom:-35px !important
}
.entry-header {
  padding-bottom:0 !important
}
.woocommerce-error {
  margin-top:0 !important;
  margin-bottom:10px !important
}
/*remove border from mobile menu */
button.menu-toggle {
  border:none !important
}
.entry-title,
.storefront-handheld-footer-bar,
.woocommerce-order, /* duplicated when showing order success */
.woocommerce-order-overview
{
  display:none
}
#reg_username, label[for=reg_username] {
  display:none !important;
}
#customer_login > div {
  width:100% !important
}
#customer_login .col-2 {
  display:none
}
#customer_login #birth_date_field {
  margin-bottom:0
}
.radio {
  display:inline-block !important
}
.input-radio {
  display:inline-block !important;
  margin-left:10px;
  margin-right:4px
}
/* Condense allergy checkboxes */
.allergies {
   margin-top:-25px;
}
.woocommerce-orders-table__cell-order-status, /* Hide irrelevant columns on orders page*/
.woocommerce-orders-table__cell-order-total, /* Hide irrelevant columns on orders page*/
form.checkout, /* Don't show checkout on every page */
.woocommerce > .woocommerce-info, /* hide coupon link */
.woocommerce-message a, /* don't show links in messages since often wrong link */
.pharmacy, /*pharmacy transfer off until selected (this needs to be hidden on checkout and account details page)*/
.cart-subtotal, /*Hide subtotal row on checkout */
.shipping, /* Hide shipping cost row on checkout */
.product-name, /*Hide product name row on checkout */
.product-total  /*Hide product total row on checkout */
{
  display:none
}
