.select2-container--default {
  width:100%;
  height:auto
}
.select2-search--inline {
  width:100%
}
.select2-search__field {
  width:100%;
  font-size:24px
}
.select2-container--default {
  width:60% !important
}
.select2-selection--multiple {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
  height:100px !important
}
.select2-container--default .select2-results__option--highlighted {
  background:#11abd6 !important
}
.select2-dropdown {
  border:none !important
}
.site-footer {
  background-color:white !important;
}
