.select2-selection {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
}
.select2-search--inline {
  width:100%
}
.select2-search__field {
  font-size:24px !important;
  width:100%
}

.select2-container--default li.select2-results__option {
  background:transparent !important;
  color:#6d6d6d !important
}
.select2-dropdown {
  border:none !important;
}

/* for tiny screens */
.fl-col-small {
 display:block;
}

/* do not hide pricing & availability column on small screens */
@media (min-width: 768px) {
  .fl-col-small {
    position:fixed;
    right:0;
    background:white;
  }
}

.site-footer {
  display:none
}
