form.checkout, /* Don't show checkout on every page */
#medication_field, /* don't force medication on eRx (default) */
#billing_country_field,
#billing_state_field,
#billing_email_field,
.pharmacy, /*pharmacy transfer off until selected */
.spanish, /* translation */
.woocommerce-shipping-fields,  /* checkbox to add shipping fields TODO eventually add these back */
.cart-subtotal, /*Hide subtotal row on checkout */
.shipping, /* Hide shipping cost row on checkout */
.product-name, /*Hide product name row on checkout */
.product-total,  /*Hide product total row on checkout */
.create-account /* Force user to save card */
{
  display:none
}
/*Default is set for 2 columns */
.col2-set, #order_review_heading, .woocommerce-checkout-review-order {
  width:69% !important
}
/*Align payment with billing & shipping */
.woocommerce-checkout-review-order {
  margin-right:4.347826087% !important
}
