.site-branding {
  width:100% !important
}
.site-title a {
  font-weight:300 !important
}
.site-search, .site-header-cart {
  display:none !important
}
.site-header {
  padding-top:1em !important
}
.woocommerce-breadcrumb {
  text-align: right;
}
.storefront-full-width-content.woocommerce-account .entry-header {
  padding-bottom:2em !important
}
.content-area {
  margin-top:-110px
}
.main-navigation {
  width: 100% !important;
  text-align: right;
  margin-top: -55px;
}
