.site-header {
  padding-top:1em !important
}
.site-branding {
  width:100% !important
}
.site-title a {
  font-weight:300 !important
}
.site-search, .site-header-cart, .site-info {
  display:none !important
}
.main-navigation {
  width: 100% !important;
  text-align: right;
  margin-top: -55px;
}
.woocommerce-breadcrumb {
  text-align: right;
  margin-bottom:0 !important
}
.content-area {
  margin-top:-110px
}
.entry-header {
  padding-bottom:1em !important
}
