#top .select2-results {
  color: inherit !important
}
.select2-search__field {
  background-color:#f8f8f8 !important;
  border-color:#f8f8f8 !important;
  box-shadow:none !important
}
.select2-container--default {
  width:100% !important
}
.select2-selection--single {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
}
.select2-selection--multiple {
  background-color:#f8f8f8 !important;
  border-color:#e1e1e1 !important;
  height:100px !important
}
.select2-container--default .select2-results__option--highlighted {
  background:#11abd6 !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background:#11abd6 !important;
  color:#fff !important;
  padding:5px !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color:#fff !important
}

.woocommerce-message,
.woocommerce-FormRow--first,
.woocommerce-FormRow--last,
.woocommerce-FormRow--wide {
   display:none
}
.woocommerce-MyAccount-content, .new-patient, .woocommerce form.checkout, .col-1, .col-2 {
    width:100% !important;
}
@media (min-width: 767px) {
  .woocommerce-MyAccount-navigation {
     position:fixed
  }
  .questions {
    position:fixed;
    margin-top:230px;
    width:200px;
  }
  .woocommerce-MyAccount-content, .new-patient, .woocommerce form.checkout {
    width:calc(100% - 240px) !important;
    float:right
  }
}
h3 {
   text-transform:capitalize;
}
.woocommerce-billing-fields h3:before {
   content:'Shipping & '
}
.woocommerce-MyAccount-navigation-link--dashboard,
.woocommerce-MyAccount-navigation-link--downloads,
#billing_company_field,
#billing_country_field,
.cart_dropdown,
.cart-subtotal,
.product-name,
.product-total,
.shipping,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
    display:none
}
.order-total th, .order-total td { border:none !important }
.woocommerce-checkout-payment {
   margin-top:-15px !important
}
