The identifying information for {{first_name}} {{last_name}} {{birth_date}} has been changed in carepoint.
This information may need to be updated in WooCommerce as well.  If woocommerce should
be updated, please manually update the patient.

Old Patient Details {{#additional}}{{first_name}} {{last_name}} {{birth_date}}{{/additional}}
New Patient Details {{first_name}} {{last_name}} {{birth_date}}
