{{!
    Sample of data
    {
        "first_name": "Ben",
        "last_name": "Brown",
        "birth_date": "1999-09-09",
        "dispensed_date": "04-09-2021",
        "shipped_date": "04-09-2021",
        "invoice_number": 12345,
        "tracking_number": "1234123124123",
        "tracking_url": "http://www.gmail.com",
        "short_tracking_url": "http://www.gmail.com",
        "invoice_url": "http://www.gmail.com",
        "short_invoice_url": "http://www.gmail.com",
        "count_filled": 1,
        "multiple_filled": true,
        "filled": {
            "rxs": [
                {"name": "drug 1"},
                {"name": "drug 2"}
            ]
        },
        "no_fill": {
            "rxs": [
                {"name": "no drug 1"},
                {"name": "no drug 2"}
            ]
        }
    }
}}
Good Pill shipped your order of {{count_filled}} item{{#multiple_filled}}s{{/multiple_filled}} and it should arrive in 3-5 days.
{{#filled}}
These Rxs are on the way:
    {{#rxs}}
        {{name}}
    {{/rxs}}
{{/filled}}
View it at {{short_invoice_url}}. Track it at {{short_tracking_url}}.
