{{!
    Sample of data
    {
        "first_name": "Ben",
        "last_name": "Brown",
        "birth_date": "1999-09-09",
        "dispensed_date": "04-09-2021",
        "shipped_date": "04-09-2021",
        "invoice_number": 12345,
        "has_no_refills": true,
        "no_refills": [
            'Drug name 1',
            'Drug name 2',
        ],
        "no_autofill": [
            'Drug name 1',
            'Drug name 2',
        ],
        "has_no_autofill": true,
        "no_autofill": [
            'Drug name 1',
            'Drug name 2',
        ],
        "tracking_number": "1234123124123",
        "tracking_url": "http://www.gmail.com",
        "short_tracking_url": "http://www.gmail.com",
        "invoice_url": "http://www.gmail.com",
        "short_invoice_url": "http://www.gmail.com",
        "count_filled": 1,
        "multiple_filled": true,
        "filled": {
            "rxs": [
                {"name": "drug 1"},
                {"name": "drug 2"}
            ]
        },
        "no_fill": {
            "rxs": [
                {"name": "no drug 1"},
                {"name": "no drug 2"}
            ]
        },
        "no_refill": {
            "rxs: [
                {"name": "drug 1"},
                {"name": "drug 2"}
            ]
        },
        "no_autofill": {
            "rxs: [
                {"name": "drug 1 - reason description"},
                {"name": "drug 2 - reason"}
            ]
        }
    }
}}

<p>Hello,</p>

<p>A friendly reminder that Good Pill cannot refill these Rxs without your help.</p>
{{# no_refill}}
    <p>
        <u>We need a new Rx for the following:</u>
    <ul>
        {{# rxs }}
            <li>{{ name }} - {{ patient_message_text }}</li>
        {{/ rxs }}
    </ul>
    </p>
{{/ no_refill}}

{{# no_autofill}}
    <p>
        <u>These Rxs will NOT be filled automatically and must be requested 2 weeks in advance:</u>
    <ul>
        {{# rxs }}
            <li>{{ name }} - {{ patient_message_text }}</li>
        {{/ rxs }}
    </ul>
    </p>
{{/ no_autofill}}

<p>Thanks!<br>
    The Good Pill Team</p>
